#game  {
    background-color: black;
    color: white;
    margin: auto;
    width: 50%;
    text-align: center;
    border: 7px solid maroon;
}

body {
    background-color: darkgray;
}

.jumbotron{
    width:100%;
    height: 200px;
    padding: 35px;
    border-bottom: 2px solid black;
}